<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <a class="navbar-brand" href="/" target="_blank">BlogApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            {{#if user.eAdmin}}
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Painel Administrativo
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="/admin/categorias">Categorias</a>
                    <a class="dropdown-item" href="/admin/postagens">Postagens</a>
                    <a class="dropdown-item" href="/usuarios/perfil">Minhas Postagens</a>
                    <a class="dropdown-item" href="/minhaspostagens/add">Postagens Usuarios</a>
                </div>
            </li>
            {{else}}

            {{#if user}}

            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/minhaspostagens/add">Postagens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usuarios/perfil">Meu Perfil</a>
            </li>
            {{else}}

            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            {{/if}}


            {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            {{#if user}}
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="{{user.foto}}" class="rounded-circle z-depth-0" alt="avatar image" height="45px;"
                        width="45px;">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                    aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="/usuarios/minhaconta"><i class="fas fa-user-circle"></i> Minha
                        conta</a>

                    <a class="dropdown-item" href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="/usuarios/login"><i class="fas fa-user-circle"></i> Login</a>
                    <a class="dropdown-item" href="/usuarios/registro"><i class="fas fa-plus-circle"></i>
                        Registrar-se</a>
                </div>
            </li>
            {{/if}}
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->