{{>jumbotron}}
<section><div class="container mt-4">
  <h1>{{postagem.titulo}}</h1>
<div class="card mb-3 purple-gradient white-text">
  <small>Data de Criação: {{data}}</small></small><br>
    <hr>
    <p class="text-justify">{{postagem.conteudo}}</p>
</div>

</div>
</section>
